@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Bai+Jamjuree&family=Baumans&family=Caveat:wght@400;500&family=Goldman&family=Jura:wght@300;400&family=Orbitron&family=Oxanium:wght@300;400&family=Play&family=Rajdhani:wght@300;400;500&family=Zen+Dots&display=swap");
* {
	margin: 0;
	padding: 0;
    /* user-select: none; */
}
::selection {
	background-color: #ff4320;
	color: #fff;
}
.nav-bar {
	position: sticky;
	background: #fff;
	top: 0;
	margin: 0px;
	padding: 5px;
	height: 80px;
	border-bottom: 3px solid #ff4320;
    z-index: 1000;
}
.name.logo-left {
    position: relative;
    width: 600px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
}
.draw {
	stroke: #ff4320;
	stroke-width: 1px;
	fill: #ff4320;
	stroke-dasharray: 190;
	stroke-dashoffset: 190;
	animation: animate 8s both infinite;
}
@keyframes animate {
	0% {
		stroke-dashoffset: 0;
	}
	54% {
		stroke-dashoffset: 190;
        fill: transparent;
	}
	56% {
		stroke-dashoffset: 190;
		fill: transparent;
	}
	100% {
        stroke-dashoffset: 0;
	}
}
.link-right
{
    justify-content: space-evenly;
    list-style-type: none;
    width:auto;
    /* line-height:  */
    margin: auto 50px;
    padding: 0px;
}
.link-right .page
{
    display: inline-block;
    margin:0 20px;
    padding: 10px;
    font-size: 25px;
    font-family: 'jura', sans-serif;
    font-weight: 500;
    color: #ff4320;
    text-decoration: none;
    transition: 0.5s;
}
.link-right .page .nxt-door
{
    text-decoration: none;
    color:#000;
    font-weight:bold;
    transition: 0.5s;
}
/* .link-right .page .nxt-door:hover
{
    color: #ff4320;
    transition: 0.5s;
} */
.link-right .page #hire
{
    color: #ff4320;
    border: 2px solid #ff4320;
    padding:5px;
}
.link-right .page select[name="color-picker"]
{
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 25px;
    font-family: 'jura', sans-serif;
    font-weight: 600;
    color: #ff4320;
    text-decoration: none;
}
option[value="#FF4320"] {
    background-color: #ff4320;
    color: #fff;
}
option[value="skyblue"] {
    background-color: skyblue;
    color: #fff;
}
option[value="#a500ff"] {
    background-color: #a500ff;
    color: #fff;
}
option[value="#2200ff"] {
    background-color: #2200ff;
    color: #fff;
}
option[value="#17B486"] {
    background-color: #17B486;
    color: #fff;
}
option[value="#FF8C00"] {
    background-color: olive;
    color: #fff;
}
.home_page-section,
.about-us-section,
.project-section {
	position: relative;
	height: 100vh;
	width: 100%;

	color: #000;
}


/* Home Page */
.home-page-section {
    position: relative;
    height: calc(100vh - 80px);
    width: 100%;
    margin: auto;
    padding: 100px;
}
.home-page-section .landing-container {
    position: relative;
    height: 100%;   
    width: 50vw;
    padding: 25px;
}
.home-page-section .landing-container .landing-content
{
    margin: auto 0;
}
.home-page-section .landing-container .landing-content h2
{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 40px;
    font-weight: 600; 
}
.home-page-section .landing-container .landing-content h2 .bhagwa-colour
{
    color: #ff4320;
}
.home-page-section .landing-container .landing-content .content-info-light
{
    width: 80%;
    font-size: 30px;
    font-family: "Rajdhani", sans-serif;
    color: #555;
    font-weight: 500;
}
.home-page-section .landing-container .social-media-links
{
    display: inline-flex;
    list-style-type: none;
    justify-content: space-around;
    width: 70%;
}
.home-page-section .landing-container .social-media-links .media{
	text-decoration: none;
	color:#999;
    font-size: 20px;
	transition: 0.5s;
	border-bottom:2px solid transparent;

}
.home-page-section .landing-container .social-media-links .media:hover{
	border-bottom:2px solid;
	transition: .5s;
}
.img-holder
{
    position: relative;
    margin: auto 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:50vw;
}
.info-pic
{
    aspect-ratio: 3/2;
    max-height: 600px;
    max-width: 600px;
}
.cv-loader {
	display: inline-block;
	padding: 12px 24px;
	border: 2px solid #ff4320;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
    /* font-weight: bold; */
	font-size: 19px;
	color: #ff4320;
	z-index: 1;
	text-decoration: none;
}

.cv-loader:before {
	content: "";
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
	-ms-transform: translateX(-50%) scaleY(1) scaleX(1.25);
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	/* background-color: rgba(0, 0, 0, 0.05); */
	border-radius: 50%;
	display: block;
	-webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

.cv-loader:after {
	content: "";
	position: absolute;
	left: 55%;
	-webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
	-ms-transform: translateX(-50%) scaleY(1) scaleX(1.45);
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background: #17B486;
	border-radius: 50%;
	display: block;
	-webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}
.cv-loader:hover {
	color: #ffffff;
	border: 2px solid #ff4320;
}

.cv-loader:hover:before {
	top: -35%;
	background-color: #17B486;
	-webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
	-ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.cv-loader:hover:after {
	top: -45%;
	background-color: #17B486;
	-webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
	-ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* about-section */
.about-us-section .profile-pic .pic
{
    height: 200px;
    aspect-ratio: 1/1;
}